@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');



body {
    background: linear-gradient(90deg, #4B077B 0%, #000000 100%);
}

p {
    color: white;
}

.navcol {
    color: #4B077B;
}

#nnn {
    color: #7c4d9e;
}

.navbar-light .nav-item .nav-link {
    color: rgb(187, 187, 187);
}

.navbar-light .nav-item .nav-link.active {
    color: rgb(219, 127, 255);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(51, 39, 56);
}

.sidebar {
    color: white;
    background: linear-gradient(90deg, #4B077B 0%, #2f2035 100%);
}

.card {
    background: linear-gradient(270deg, #4B077B 0%, #2f2035 100%);
    color: white;
}

.card a {
    text-decoration: none;
    color: white;
}

.slide-text,
.footertxt {
    color: white;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #4B077B 0%, #2f2035 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.callanim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}